# Environments
.idea
.vscode
.Rproj.user

# Python
*$py.class
*.py[cod]
.Python

__pycache__/
downloads/
wheels/
build/
dist/

# Jupyter Notebook
.ipynb_checkpoints

# R
.RData
.Rhistory
.Ruserdata
.Rapp.history

*.utf8.md
*.knit.md

/*.Rcheck/
/*_cache/
/cache/
